.c-work_container {
    position: relative;
    width: 100%;
    padding-top: 40px;
}


.c-work_content {
    position: relative;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.c-work_listitem{
    margin-bottom: 40px;
}

.c-work_list {
    text-align: center;
}


@include breakpoint(small) {

    .c-work_listitem {
        text-align: start;
        margin-bottom: 45px;
        padding-left: 16px;
    }

    .c-work_details {
        display: flex;
        padding: 15px;
        margin-left: 8px;

        img {
            width: 64px;
            height: 64px;
            margin-top: 6px;
        }
        p {
            margin: 10px 40px;
        }
    }
}
