.nav {
    position: fixed; 
    left: 115px; 
    bottom: 30px;
    width: 135px
}

.header-menu {
    display:flex;
    justify-content: space-between;
    width: 60%; 
    align-items: center;

    @include maxpoint(tablet) {
        width: 75%;
        margin-bottom: 12px;
    }
}

.header-fullname {
    position: relative;
    overflow: hidden;

    &:after {
        background: #ffffff;
        height: 100%;
        width: 0%;
        position: absolute;
        right: 0;
        top: 0;;
        content: "";
        transition: width 350ms linear 300ms;
    }
}

.segment-hello {
    min-height: 270px;

    @include maxpoint(tablet) {
        margin-top: 115px;
        min-height: 45px;
    }
}

.segment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include maxpoint(tablet) {
        align-items: flex-start;
        flex-direction: column;
        h1 { margin-bottom: 25px; }
    }
}


.segment--background:after{
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px;
    font-weight: 700;
    content: attr(data-title);
    position: absolute;
    color: #EDEDED;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    white-space: nowrap;
}

.section--background-2::after{
    font-family: 'Archivo Black', sans-serif;
    font-size: 120px;
    font-weight: 700;
    content: attr(data-title);
    position: absolute;
    color: #f7f6f6;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 1200px;
    text-align: center;
}

.scroll-thumb {
    z-index:1001;
    height: 100vh;
    top: 0;
    position: fixed;
    left: 0;
    width: 5px;
    height: 90px;
    background-color: #FF0C8D
}

