nav.main-nav {
    padding: 20px 20px 0;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}
a{
  color: #3700FF;

}

a:link  {
   text-decoration:  none; 
}   

a:hover {
    color: violet;
}

nav.main-nav a {
   top: 20px;
   right: 6px;
   padding: 8px 8px;
   font: 16px/2 "Ropa Sans",sans-serif;
}


nav, #header {
    display: block;
}

.profile #header {
    text-align: center;
    position: relative;
    margin-top: 82px;
    padding-top: 82px;
}



.profile #circleImage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

body {
    line-height: 1;
    margin: 0;
    font: 16px "Vidaloka",serif;
    color: #8D3CFF  ;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/*.intro h1 {
  font-weight: 200 !important;
}*/

h2 {
    font: 15px/1 "Ropa Sans",sans-serif;
    color: #000000  ;
}

h3 {
    font: 15px/1 "Ropa Sans",sans-serif;
    color: #000000  ;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

h4 {
  font: 12px "Ropa Sans",sans-serif;
  color: #000000  ;
  text-align: center;
  color: white;
}
#wrapper.home {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 40px 20px;
}

.list-view {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list-item {
 margin: 0 auto;
 padding-left: 16px;
 max-width: 450px;
}

li {
    list-style-type: none;
    list-style-position: inside;
}
.list-header {
    text-align: center;
    display: table-cell;
}

.description {
  position: relative;

}

.list-header{
    vertical-align: middle;
    padding-right: 20px;
}

#content {
  margin-top: 30px;
  padding-top: 30px;
}
section {
    display: block;
}

#container {
  overflow-y: hidden;
}

.item {
  float: left;
  margin: 1em;
}

.social {
  text-align: center;
  padding: 20px;
  margin-bottom: 25px;
}
.projects {
  text-align: center;
  padding: 20px;
  margin-bottom: 120px;
}


.footer {
  text-align: center;
  background: #FF95FB;
  padding: 5px;
}
